* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

html {
    background-color: #282b3a;
}

@keyframes changeinvert {
    0% {
        color: #d5a4bd;
    }
    25% {
        color: #d5a4bd;
    }
    50% {
        color: #e1c3d2;
    }
    75% {
        color: #ffffff;
    }
    100% {
        color: #ffffff;
    }
}

.container {
    margin: 30px;
    width: 320px;
}

.container .header-tabs #show-do {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: #d5a4bd;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.container .header-tabs #show-done {
    padding: 0 10px;
    font-size: 15px;
    font-weight: 700;
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: #d5a4bd;
    background-color: transparent;
    border: transparent;
    cursor: pointer;
}

.container .header-tabs #show-do:hover {
    border-radius: 10px;
    animation: fadein .5s forwards;
}

.container .header-tabs #show-done:hover {
    border-radius: 10px;
    animation: fadein .5s forwards;
}

.container h1 {
    font-family: 'Montserrat', sans-serif;
    animation: changeinvert 5s infinite alternate;
}

#add-container {
    margin-top: 5px;
    margin-bottom: 5px;
    text-align: center;
    align-items: center;
    display: flex;
}

#add-item {
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 3px;
    border: 3px solid;
    border-color: #fff;
    border-radius: 10px;
    background-color: #fff;
    width: 100%;
}

#add-item:focus {
    outline: none;
    border: 3px solid #d5a4bd;
}

#add-button {
    color: #d5a4bd;
    font-weight: 800;
    font-size: 25px;
    width: 30px;
    text-align: center;
    background-color: transparent;
    border: transparent;
    height: 50%;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

@keyframes fadein {
    0% {
        background-color: #282b3a;
        color: #d5a4bd;
    }
    100% {
        background-color: #d5a4bd;
        color: #282b3a;
    }
}

#add-button:hover {
    border-radius: 10px;
    animation: fadein .5s forwards;
}

.container #add-item {
    font-family: 'Montserrat', sans-serif;
    color: #40455e;
    padding: 5px;
}

#alert-message {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border: 3px solid;
    border-color: #da4f3f;
    border-radius: 10px;
    background-color: #da4f3f;
    display: none;
}

#alert-delete {
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    padding: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #ffffff;
    border: 3px solid;
    border-color: #da4f3f;
    border-radius: 10px;
    background-color: #da4f3f;
    display: none;
}

.container ul {
    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-weight: 500;
}

.container ul li {
    padding: 10px;
    padding-left: 14%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px solid;
    border-color: #40455e;
    border-radius: 10px;
    background-color: #40455e;
    position: relative;
    cursor: pointer;
}

.container ul li:hover {
    border-color: #5b6180;
    background-color: #5b6180;
}

.container ul li::before {
    content: '';
    position: absolute;
    height: 20px;
    width: 20px;
    background-image: url(./images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 25%;
    left: 8px;
}

.container .checked {
    text-decoration: line-through;
    /* display: none; */
}

.container .checked::before {
    background-image: url(./images/checked.png);
}